<h1>Congratuwelldone, <%= @user.username %>!</h1>

<h2>You have been admitted into our very most special user-tracking software!</h2>

<p>
  We now know several identifying pieces of information about you.
</p>

<p>
  But please, don't be upset. We won't betray your trust. We promise.
</p>

<p>
  Sincerely,
  <em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The System</em></p>
