<h1>Congratuwelldone, <%= @user.username %>!</h1>

<h3>You have successfully been subsumed into Imgrrr.</h3>

<p>
  We now know several things about you. Probably more than you realize.
</p>

<p>
  But please, don't be upset. We won't betray your trust. We promise.
</p>

<p>
  Sincerely,
  <i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Mistress of Regret</i>
</p>
