<h3>Hello, <%= @recipient_name %>,</h3>

<p>
  <%= @user.username %> has shared <a href="<%= @gallery_url %>" target="_blank" alt="shared gallery">a gallery</a> with you.
</p>

<p>
  Sincerely,
  <i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Mistress of Regret</i>
</p>
