<% users.each do |u| %>
  <div class="col-lg-3">
    <%= link_to u, class: "btn btn-default" do %>
      <%= image_tag u.avatar, class: "img-responsive" %>
      <%= simple_format u.username, class: 'caption' %>
    <% end %>
  </div>
<% end %>
