  <div class="col-md-3 col-sm-6">
    <%= link_to @image.file.url, class: "btn btn-default" do %>
      <%= simple_format @image.title %>
      <%= image_tag @image.file.url %>
    <% end %>
  </div>
