<div class="col-lg-12 text-center">
  <%= link_to image.file.url, class: "thumbnail" do %>
    <%= simple_format image.title %>
    <%= image_tag image.file.url(:medium) %>
  <% end %>
  <% image.galleries.each do |g| %>
    <%= link_to g.title, g %>
  <% end %>
</div>
